body {
  margin: 0;
}

.wrapper {
  max-width: 640px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

@media screen and (min-width: 640px) {
  .wrapper {
    justify-content: flex-start;
  }
}

@media screen and (min-width: 960px) {
  .wrapper {
    max-width: 960px;
    justify-content: flex-start;
  }
}

.cardContainer {
  margin: 10px;
  width: 300px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.05), 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

@media screen and (min-width: 960px) {
  .cardContainer {
    display: flex;
    width: 300px;
  }
}

.imageContainer {
  height: 200px;
}

@media screen and (min-width: 960px) {
  .imageContainer {
    width: 150px;
    order: 1;
  }
}

.image {
  height: 100%;
  background-image: url('./Flexing-kangaroo.jpg');
  background-size: cover;
  background-position: center;
}

.detailsContainer {
  padding: 10px;
}
